# Игнорируем каталоги
/.idea/
/node_modules/
/target/
/out/

# Игнорируем файлы
*.log
*.tmp
*.swp

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
